<h1>Viewing Party Details</h1>

<%= form_tag viewing_party_index_path do %>

  <h3> Movie: <%= @movie.title %></h3>
  <%= hidden_field_tag :movie_title, @movie.title %>

  <%= label_tag :party_duration, "Duration:" %>
  <%= number_field_tag :party_duration, @movie.runtime %> <br>

  <%= label_tag :date, "Date:" %>
  <%= date_field_tag :date %> <br>

  <%= label_tag :start_time, "Start Time:" %>
  <%= number_field_tag :start_time %>
  <br><br>
  <%= label_tag :friends, "Include:" %> <br>
  <br>
  <%= collection_check_boxes(:users, :id, current_user.friends, :id, :name, include_hidden: false) %>
  <br><br>
  <%= submit_tag "Create Party" %>
<% end %>
